*{
    border:0;
    padding:0;
    margin:0;
}
.postsection {
    background-color: #dfd1d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.postsection{
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.postform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formlabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Arial', sans-serif;
    color: #555;
}

.forminput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.forminput:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top: 20px;
}

.formselect {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff; 
    color: #333; 
  }
  
  .formselect:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  
  .formselect option {
    background-color: #fff; 
    color: #333; 
    font-size: 16px;
    padding: 10px;
  }
  
  .formselect option:checked {
    background-color: #f0f0f0; 
  }
  
  
  .formlabel select {
    width: 100%;
  }
  
.button:hover {
    background-color: #0056b3;
}
.errorMessage {
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
  border: transparent 3px rgb(131, 7, 7);
}
.goodMessage{
  font-size: 3em;
  color: white;
  background-color: green;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
  border-color: rgb(27, 136, 51);
}
